@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-display: swap;
  src: url(/typography/playfair-display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-display: swap;
  src: url(/typography/playfair-display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
